/*

	COMP 1950 Home Page CSS
	File Name: 		practice.css
	Author:			Calvin Jun
	Student Number:	A00237412

*/

#practice_list{
	width: 400px;
	min-height: 120px;
	margin: 12px 16px 48px;
	padding: 0px;
	color: #dedede;
	border: 1px black solid;
	position: relative;
}

#practice_list ul{
	font-family: "Verdana";
	font-size: 1.1em;
	margin: 24px 16px 24px 24px;
	line-height: 130%;
}

#practice_list ul li{
	cursor: pointer;
}
